version: '2'
services:
  gbtmaker:
    image: btcpool
    restart: always
    hostname: HOSTNAME
    environment: 
        GBTMAKER_TESTNET: "false"
        GBTMAKER_GBTMAKER__RPCINTERVAL: 6
        GBTMAKER_GBTMAKER__IS_CHECK_ZMQ: "false"
        GBTMAKER_BITCOIND__ZMQ_ADDR: "tcp://192.168.16.1:8331"
        GBTMAKER_BITCOIND__RPC_ADDR: "tcp://192.168.16.1:8332"
        GBTMAKER_BITCOIND__RPC_USERPWD: "haobtc:defaultpassword"
        GBTMAKER_KAFKA__BROKERS: "10.0.0.1:9092,10.0.0.2:9092,10.0.0.3:9092"
    volumes:
      - /opt/btcpool:/opt/btcpool
    command:
      ['gbtmaker'] 
  jobmaker:
    image: btcpool
    restart: always
    hostname: HOSTNAME
    volumes:
      - /opt/btcpool:/opt/btcpool
    command:
      ['jobmaker'] 
